[submodule "django-hallow-ethical-hacking"]
	path = django-hallow-ethical-hacking
	url = https://github.com/Ky7az/django-hallow-ethical-hacking
[submodule "vue-hallow-ethical-hacking"]
	path = vue-hallow-ethical-hacking
	url = https://github.com/Ky7az/vue-hallow-ethical-hacking
